/*HTML*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 80px calc(100vh - 80px);
    font-family: "Roboto Mono", monospace;
}
label {
    margin-right: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: black;
    font-size: 150%;
    text-align: center;
}

/*Grid*/
#header {
    min-width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #faac40;
}
#logo {
    width: 80%;
    height: inherit;
    background-image: url("HumanistSkolenLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    place-self: left center;
    background-size: contain;
}
#search {
    width: 50%;
    height: 40%;
    background: #f4d06f;
    place-self: center;
    border-radius: 10px;
    display: flex;
}
#search-bar {
    place-self: right;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 125%;
    text-indent: 10px;
}
input {
    border: 0;
    outline: 0;
}
#search-icon {
    height: 100%;
    aspect-ratio: 1;
    border-right: 1px solid #faac40;
    place-self: left;
}
#view {
    aspect-ratio: 1;
    height: inherit;
    background: #f4d06f;
    place-self: center;
}

#timeline {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    place-content: center right;
}
#timeline-container1 {
    display: flex;
    width: 90vw;
    height: 80%;
    place-self: end;
}
#timeline-container1 > label {
    place-self: center;
}
#timeline-container2 {
    display: flex;
    width: 90vw;
    height: 80%;
    place-self: start;
}
#timeline-container2 > label {
    place-self: center;
}
#observations-container {
    display: flex;
    justify-content: space-evenly;
    place-items: end;
    width: 100%;
    height: inherit;
    place-self: end;
    border-bottom: black solid 1px;
}
#observations-container > * {
    margin-bottom: 10px;
}
#events-container {
    display: flex;
    justify-content: space-evenly;
    place-items: start;
    width: 100%;
    height: inherit;
    border-top: black solid 1px;
}
#events-container > * {
    margin-top: 10px;
}

/*Classes*/
.box {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 175px;
    aspect-ratio: 1;
    border: solid black 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #b6e1da;
    place-items: center;
    justify-content: center;
}
#popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 80vh;
    background-color: white;
    opacity: 0.95;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 250%;
}
#popup-container {
    display: grid;
    grid-template-columns: auto 100px;
}
#popup-cross {
    width: 50px;
    height: 50px;
    background-image: url("exitCross.png");
    background-size: contain;
    background-repeat: no-repeat;
    place-self: center;
}
