/*HTML*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 80px calc(100vh - 80px);
    font-family: "Roboto Mono", monospace;
}
label {
    margin-right: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: black;
    font-size: 150%;
    text-align: center;
}

/*Id*/
#header {
    min-width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #faac40;
}
#logo {
    width: 80%;
    height: inherit;
    background-image: url("HumanistSkolenLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    padding-left: 10px;
}
#search {
    width: 50%;
    height: 40%;
    background: #f4d06f;
    place-self: center;
    border-radius: 10px;
    display: flex;
    border: solid 2px #457dd9;
}
#search-bar {
    place-self: right;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 125%;
    text-indent: 10px;
}
input {
    border: 0;
    outline: 0;
}
#search-icon {
    height: 100%;
    aspect-ratio: 1;
    border-right: 2px solid #457dd9;
    place-self: left;
    background-image: url("searchIcon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#view {
    aspect-ratio: 1;
    height: inherit;
    background: #f4d06f;
    place-self: center;
}

#timeline {
    width: 100vw;
    height: 100%;
    display: flex;
    position: relative;
    background: linear-gradient(#faac40, #457dd9);
}
#timeline-container {
    display: flex;
    width: 90vw;
    height: 90%;
    place-self: center end;
}
#observations-container {
    display: flex;
    place-items: end;
    height: inherit;
    place-self: end;
    border-bottom: black solid 1px;
    overflow: auto;
    white-space: nowrap;
}
#observations-container > * {
    margin-bottom: 10px;
}
#events-container {
    display: flex;
    place-items: start;
    height: inherit;
    border-top: black solid 1px;
    overflow: auto;
    white-space: nowrap;
}
#events-container > * {
    margin-top: 10px;
}
#popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background: #f4d06f;
    opacity: 0.95;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 250%;
    border-radius: 20px;
    outline: black solid 1px;
}
#popup-container {
    display: flex;
    position: relative;
    place-content: center;
    margin-top: 10px;
}
#popup-cross {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}

/*Classes*/
.box {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 150px;
    aspect-ratio: 1;
    outline: black solid 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #b6e1da;
    place-items: center;
    justify-content: center;
    margin-inline: 10px;
}
