/*HTML*/
body {
    margin: 0;
    display: grid;
    grid-template-rows: 100px calc(100vh - 100px);
    font-family: "Roboto Mono", monospace;
}
label {
    margin-right: 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: black;
    font-size: 150%;
    text-align: center;
}

/*Grid*/
#header {
    min-width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #faac40;
}
#logo {
    width: 80%;
    height: inherit;
    background-image: url("https://lh6.googleusercontent.com/Hdgisjy4PhcoICB0eyZd9-04lwmxxFynOwggQZyckEV_t7CeEUvvzoTpjAvvZ6nA=w16383");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    place-self: left center;
}
#search {
    width: 70%;
    height: 40%;
    background: #f4d06f;
    place-self: center;
    border-radius: 10px;
    display: flex;
}
#search-bar {
    place-self: right;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 150%;
    text-indent: 10px;
}
input {
    border: 0;
    outline: 0;
}
#search-icon {
    height: 100%;
    aspect-ratio: 1;
    border-right: 1px solid #faac40;
    place-self: left;
}
#view {
    aspect-ratio: 1;
    height: inherit;
    background: #f4d06f;
    place-self: center;
}

#timeline {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-content: center;
}
#timeline-container1 {
    display: flex;
    width: 80vw;
}
#timeline-container1 > label {
    place-self: center;
}
#timeline-container2 {
    display: flex;
    width: 80vw;
}
#timeline-container2 > label {
    place-self: center;
}
#observations-container {
    display: flex;
    justify-content: space-evenly;
    place-items: end;
    width: 100%;
    height: 90%;
    place-self: end;
}
#observations-container > * {
    margin-bottom: 10px;
}
#events-container {
    display: flex;
    justify-content: space-evenly;
    place-items: start;
    width: 100%;
    height: 90%;
}
#events-container > * {
    margin-top: 10px;
}

/*Classes*/
.box {
    width: 100px;
    aspect-ratio: 1;
    border: solid black 1px;
    border-radius: 20%;
    background-color: #b6e1da;
}
