body {
    background-color: #832232;
    display: flex;
    flex-flow: column;
    font-family: "Roboto Mono", monospace;
}
p {
    color: white;
    font-size: 300%;
    place-self: center;
}
#container {
    width: 600px;
    height: 600px;
    border: white solid 4px;
    border-radius: 5px;
    place-self: center;
    text-align: center;
    background-color: #7a1e32;
}
.dice {
    width: 75px;
    height: 75px;
}
